<div class="title-bar" data-responsive-toggle="top-bar">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="title-bar stacked-for-medium" id="top-bar">
  <div class="title-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Glou Glou Miam Miam</li>
    </ul>
  </div>
  <div class="title-bar-right">
    <ul class="menu">
      <li><button type="button" class="button" data-open="loginModal">Log In</button></li>
    </ul>
  </div>
</div>